{% extends "base.html" %}

{% block content %}
<div class="base">
    <h1 class="center ps-3 pt-3">About</h1>

    <p class="center ps-3 pt-3 pb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum inventore veritatis at aperiam perspiciatis, tempora culpa quisquam quia nam repellendus atque natus excepturi ad. Accusamus consectetur soluta ipsa recusandae assumenda, impedit aspernatur! Rerum eligendi sunt sint. Nostrum dolores nihil nesciunt facilis quia reiciendis quibusdam, deserunt iste pariatur unde autem. Illum error fuga omnis vero sunt rerum eum vitae similique quibusdam officia quae suscipit, porro ullam magni doloremque velit iusto aliquam reprehenderit praesentium. Veniam magni quia quasi tempora! Vero saepe dicta voluptatem, mollitia eveniet a. Eaque, soluta est. Sed architecto inventore, dolore, eos enim consectetur fugit veniam repellat perspiciatis facere aperiam?</p>
</div>


{% endblock  %}